@import 'styles/breakpoints';

.root {
    padding: 3rem 0;
}

.section {
    grid-column: 1 / -1;

    &:not(:first-of-type) {
        margin-top: 3rem;
    }
}

.sectionHeadline {
    margin-bottom: 1rem;
    font-size: 1.4em;
}

.themeButton {
    display: block;
    text-decoration: none;
    padding: 0.5rem 0;

    &[disabled] {
        opacity: 0.4;
        cursor: default;
    }
}

.toggle {
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid green;
    border-radius: 0.6rem;
}

.container {
    position: relative;
    display: grid;
    grid-area: 1 / -1;
    margin-top: 3rem;

    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -0.04em;
    line-height: 1.1em;
    text-transform: uppercase;
    text-align: center;
    text-wrap: balance;

    @include medium {
        font-size: 100px;
    }

    img,
    svg {
        display: inline;
        position: relative;
        top: 0.075em;
        width: 0.85em;
        height: 0.85em;
        vertical-align: top;
        color: currentcolor;
    }

    i {
        font-style: normal;
    }
}

.romper {
    &[data-type='romper'] {
        [data-type='char'],
        [data-type='space'],
        [data-type='whitelisted'] {
            overflow: hidden;
        }

        [data-type='char-inner'],
        [data-type='whitelisted-inner'] {
            animation: reveal calc(var(--total-chars) * 0.05s)
                calc(300ms + var(--char-index) * 0.15s) both var(--ease-out-circ);
        }
    }
}

@keyframes reveal {
    0% {
        transform: translateX(-150%) scale(1.8);
    }

    100% {
        transform: translateX(0) scale(1);
    }
}
