:where(.root) {
    &[data-type='romper'] {
        font-feature-settings: 'kern' off;
    }

    [data-type='char'],
    [data-type='whitespace'] {
        display: inline-block;
        margin-right: var(--kerning, 0);
        text-decoration: inherit;
        vertical-align: top;
    }

    [data-type='whitespace']:not(:first-of-type, :last-of-type) {
        white-space: pre;
        text-decoration: inherit;
    }

    [data-type='line'] {
        display: block;
        width: fit-content;
    }

    [data-type='kern'],
    [data-type='nokern'] {
        position: absolute;

        > div {
            all: unset;
            display: block;
            white-space: pre;
            width: fit-content;
        }
    }

    [data-type='kern'] {
        font-kerning: normal;
        font-feature-settings: 'kern' on;
    }

    [data-type='nokern'] {
        font-kerning: none;
        font-feature-settings: 'kern' off;
    }
}
