@import 'styles/breakpoints';
@import 'styles/fonts';

.root {
    [data-type='char'],
    [data-type='whitelisted'] {
        display: inline-block;
    }

    [data-type='line'] {
        display: block;
        width: fit-content;
    }
}
