@import 'styles/breakpoints';

.root {
    padding: 3rem 0;
}

.section {
    grid-column: 1 / -1;

    &:not(:first-of-type) {
        margin-top: 3rem;
    }
}

.sectionHeadline {
    margin-bottom: 1rem;
    font-size: 1.4em;
}

.themeButton {
    display: block;
    text-decoration: none;
    padding: 0.5rem 0;

    &[disabled] {
        opacity: 0.4;
        cursor: default;
    }
}

.test {
    --axis: "ss01";

    position: relative;
    display: grid;
    grid-area: 1 / -1;

    // font-family: 'Helvetica', 'Arial', sans-serif;
    font-family: var(--haus-headline-font);
    font-feature-settings: "kern", var(--axis);
    font-variation-settings: "wght" 100;
    font-size: 120px;
    text-transform: uppercase;
    // line-height: 1.1em;

    img,
    svg {
        display: inline;
    }

    i {
        font-style: normal;
    }

    a {
        font-size: 1.3em;
    }

    @include medium {
        font-size: 200px;
    }
}

.original {
    grid-row: 1;
    grid-column: 1;
    color: unset;
    opacity: 0;
    pointer-events: none;
}

.split {
    grid-row: 1;
    grid-column: 1;
    // color: green;
    animation: font 10s infinite;

    [data-type="char"] {
        // display: inline-block;
        // transition: margin 0.5s calc(var(--index) * 0.15s), transform 0.75s calc(var(--index) * 0.075s);
        // margin-right: 0 !important;
        // transform: translateY(calc(var(--index) * 20px));
        text-decoration: inherit;
    }
}

@keyframes font {
    0% {
        font-feature-settings: "kern" off, "ss01";
        font-variation-settings: "wght" 100;
    }

    16% {
        font-feature-settings: "kern" off, "ss01";
        font-variation-settings: "wght" 900;
    }

    17% {
        font-feature-settings: "kern" off, "ss02";
        font-variation-settings: "wght" 100;
    }

    32% {
        font-feature-settings: "kern" off, "ss02";
        font-variation-settings: "wght" 900;
    }

    33% {
        font-feature-settings: "kern" off, "ss03";
        font-variation-settings: "wght" 100;
    }

    48% {
        font-feature-settings: "kern" off, "ss03";
        font-variation-settings: "wght" 900;
    }

    49% {
        font-feature-settings: "kern" off, "ss04";
        font-variation-settings: "wght" 100;
    }

    64% {
        font-feature-settings: "kern" off, "ss04";
        font-variation-settings: "wght" 900;
    }

    65% {
        font-feature-settings: "kern" off, "ss05";
        font-variation-settings: "wght" 100;
    }

    80% {
        font-feature-settings: "kern" off, "ss05";
        font-variation-settings: "wght" 900;
    }

    81% {
        font-feature-settings: "kern" off, "ss06";
        font-variation-settings: "wght" 100;
    }

    100% {
        font-feature-settings: "kern" off, "ss06";
        font-variation-settings: "wght" 900;
    }
}
